html{
    scroll-behavior: none;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
    padding-left: none;
    padding: 0px;
}

.navbar{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
    position: fixed;
    top: 0;
    padding-bottom: 1vh;
}

.nav-items{
    display: flex;
    width: 40vw;
    height: 5vh;
}

.nav-item{
    padding-left: 5vw;
    padding-top: 1vh;
}

.nav-item a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-item a:hover{
    color: #30C2EC;
    transition: color 0.2s ease-in-out;
}

.nav-item a.active{
    color: #30C2EC;
}

.logo{
    height: 5vh;
    width: 10vw;
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
}

.logo img{
    width: 2.5vw;
    height: 5vh;
}

.logo-text{
    font-weight: bold;
    padding-top: 1vh;
    width: 10vw;
    height: 5vh;
    padding-left: 1vw;
}

.contents-cover{
    height: 100vh;
}

.nav-buffer{
    height: 7vh;
}

.contents{
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 93vh;
}

.ham{
    display: none;
}

/* MAIN */


.main{
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 93vh;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-right: 5vw;
}

.m-left{
    padding-left: 5vw;
    flex: 2;
    align-content: center;
    justify-content: center;
}

.m-right{
    flex: 1; 
    position: relative;
}

.m-left-wrapper{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m-intro{
    font-size: 30px;
    font-weight: 300;
}

.m-name{
    font-size: 60px;
}

.m-title{
    height: 50px;
    overflow: hidden;
}

.m-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #30C2EC;
    display: flex;
    align-items: center;
}

.m-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

.m-contact-btn{
    border: none;
    background-color: #ffffff;
    border: 2px solid #30C2EC;
    width: 10vw;
    height: 5vh;
    border-radius: 2vh;
}

.m-contact-btn:hover{
    background-color: #30C2EC;
    color: #ffffff;
    transition: background-color 0.2s ease-in-out;
}

@keyframes move{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(-100px);
    }
}

.m-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}


/* PROJECTS */


.projects{
    height: 93vh;
}

.p-head{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.p-sub-head{
    width: 100%;
    text-align: center;
}

.p-container{
    background-color: #30C2EC;
    height: 83vh;
    display: flex;
    justify-content: space-between;
}

.p-items{
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    padding-left: 5vw;
    padding-bottom: 2vh;
    padding-top: 2vh;
}

.p-item-wrapper{
    padding-right: 5vw;
}

.p-item{
    height: 30vh;
    width: 25vw;
    background-color: #ffffff;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #1A43bf 2px solid;
    border-radius: 10px;
}

.p-item:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
}

.p-name{
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.p-item:nth-child(3n){
    display: block;
    width: 100%;
    height: 0%;
}

.p-visit{
    border: none;
    background-color: #ffffff;
    border: 2px solid #30C2EC;
    width: 10vw;
    height: 3vh;
    border-radius: 5px;
}

.p-visit:hover{
    background-color: #30C2EC;
    color: white;
    transition: color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}


.p-img-cont{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 51vh;
    height: 15vh;
}

.p-img{
    height: 15vh;
    width: 10vw;
}

.p-desc{
    padding-left: 2vw;
    padding-bottom: 1vh;
}

.p-links{
    display: flex;
    width: 85%;
    justify-content: center;
    padding-left: 2vw;
    padding-right: 2vw;
    align-items: center;
}


/* SKILLS */

.skills{
    height: 93vh;
}

.s-head{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
}

.s-sub-head{
    width: 100%;
    text-align: center;
}

.s-skills{
    height: 80vh;
    width: 96vw;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 2vw;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
}



#s-1{
    grid-column: 1/ span 3;
    grid-row: 1/ span 1;
}

#s-2{
    grid-column: 4/ span 3;
    grid-row: 1/ span 1;
}

#s-3{
    grid-column: 1/ span 2;
    grid-row: 2/ span 1;
}

#s-4{
    grid-column: 3/ span 2;
    grid-row: 2/ span 1;
}

#s-5{
    grid-column: 5/ span 2;
    grid-row: 2/ span 2;
}

#s-6{
    grid-column: 1/ span 4;
    grid-row: 3/ span 1;
}

.s-skill{
    height: 90%;
    width: 100%;
    background-color: #caf0f8;
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: #1A43bf 2px solid;
    border-radius: 10px;
}

.s-skill:hover{
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
    transition: box-shadow 0.2s ease-in-out;
}

.s-img{
    height: 10vh;
    width: 10vw;
}

.s-title{
    font-weight: bold;
    text-align: center;
    height: 2vh;
}

.s-skill-body{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 5vh;
}

.s-desc{
    padding-left: 1vw;
}



/*contact*/

.contact{
    height: 93vh;
    background-image: url("./img/contact-bg.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.c-head{
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    color: #ffffff;
}

.c-info-wrapper{
    height: 30vh;
    width: 98vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.c-info{
    height: 10vh;
    width: 60vw;
    padding-top: 4vh;
    padding-right: 2vw;
    padding-left: 2vw;
    background-color: rgba(255, 255, 255, 0.3);
    font-weight: bold;
    font-size: larger;
}

.c-content{
    height: 56vh;
    width: 98vw;
    display: flex;
    flex-direction: row;
}

.c-left{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 56vh;
    width: 50vw;
}

.inp_area{
    height: 35vh;
    width: 40vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

input[type=text], select, textarea{
    width: 80%;
    padding: 2vh 2vw;
    background-color: rgba(255, 255, 255, 0.75);
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    resize: vertical;
}

textarea{
    height: 30vh;
}

.c-right{
    height: 56vh;
    width: 50vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.c-btn{
    border: none;
    background-color: #ffffff;
    border: 2px solid #30C2EC;
    width: 10vw;
    height: 5vh;
    border-radius: 2vh;
}

.c-btn:hover{
    background-color: #30C2EC;
    color: #ffffff;
    transition: background-color 0.2s ease-in-out;
}

@media screen and (max-width: 1280px) {
    /* MAIN */
    .main{
        flex-direction: column;
    }
    
    .m-contact-btn{
        width: 50vw;
    }

    .m-left{
        text-align: center;
    }

    .m-desc{
        display: none;
    }

    .m-title{
        display: none;
    }

    /* PROJECTS */

    .p-items{
        flex-wrap: column wrap;
    }

    .p-item{
        width: 25vw;
        height: 30vh;
    }

    .p-desc{
        display: none;
    }

    .p-img-cont{
        width: 100%;
        height: 75%;
    }

    .p-name{
        font-size: 15px;
        height: 5vh;
        width: 25vw;
    }

    .p-img{
        width:20vw;
        height: 15vh;
    }

    .p-visit{
        width: 20vw;
        height: 5vh;
    }

    .p-sub-head{
        display: none;
    }

    /* SKILLS */

    .s-desc{
        display: none;
    }

    .s-skill-body{
        flex-direction: column;
    }

    .s-skills{
        height:70vh;
        width: 95vw;
        padding: 0px;
    }

    /*contact*/

    .c-content{
        flex-direction: column;
    }

    .c-left{
        width: 100vw;
        height: 30vh;
    }

    .c-right{
        width: 100vw;
        height: 40vh;
    }

    .c-info-wrapper{
        height: 20vh;
        width: 100vw;
    }

    .c-info{
        padding-left: 1vw;
        width: 75vw;
        height: 15vh;
        font-size: small;
        padding: 0px;
    }

    .inp_area{
        justify-content: center;
        align-items: center;
        gap: 5vh;
    }

    input[type=text]{
        padding: 0px;
        width: 80vw;
        height: 5vh;
    }

    .c-textarea{
        height: 10vh;
    }

    .c-btn{
        width: 50vw;
        height: 5vh;
    }

    /*navbar*/

    .navbar{
        background-color: #ffffff;
        height: 5vh;
    }
    .nav-items{
        display: none;
    }

    .logo{
        width: 100vw;
        height: 4vh;
    }

    .logo img{
        width: 10vw;
        height: 4vh;
    }
    
    .ham{
        display: block;
        font-size: 40px;
        padding-right: 10vw;
    }

    .ham-img{
        display: block;
    }

    .ham-close{
        display: none;
        z-index: 3;
        position: fixed;
        top: 1vh;
        right: 10vw;
    }

    #ham-check{
        position: fixed;
        top: 2vw;
        right: 2vw;
        z-index: 2;
    }

    .navbar:has(.ham input[type="checkbox"]:checked) .ham .ham-close{
        display: block;
    }

    .navbar:has(.ham input[type="checkbox"]:checked) .ham .ham-img{
        display: none;
    }

    .navbar:has(.ham input[type="checkbox"]:checked) .nav-items{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100vw;
        height: 30vh;
        border: #1A43bf 2px solid;
        background-color: #ffffff;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 1;
    }
}