html{
    scroll-behavior: none;
}

body{
    font-family: 'Poppins', sans-serif;
    overflow-y: hidden;
    padding-left: none;
    padding: 0px;
}

.navbar{
    width: 100vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1vh;
    position: fixed;
    top: 0;
    padding-bottom: 1vh;
}

.nav-items{
    display: flex;
    width: 40vw;
    height: 5vh;
}

.nav-item{
    padding-left: 5vw;
    padding-top: 1vh;
}

.nav-item a{
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.nav-item a:hover{
    color: #688eff;
    transition: color 0.2s ease-in-out;
}

.nav-item a.active{
    color: #688eff;
}

.logo{
    height: 5vh;
    width: 10vw;
    padding-left: 2vw;
    display: flex;
    flex-direction: row;
}

.logo img{
    width: 2.5vw;
    height: 5vh;
}

.logo-text{
    font-weight: bold;
    padding-top: 1vh;
    width: 10vw;
    height: 5vh;
    padding-left: 1vw;
}

.contents-cover{
    height: 100vh;
}

.nav-buffer{
    height: 7vh;
}

.contents{
    scroll-behavior: smooth;
    overflow-y: scroll;
    height: 93vh;
}

.main{
    font-family: 'Poppins', sans-serif;
    display: flex;
    height: 93vh;
    justify-content: center;
    align-items: center;
    padding-right: 5vw;
}

.m-left{
    padding-left: 5vw;
    flex: 2;
    align-content: center;
    justify-content: center;
}

.m-right{
    flex: 1; 
    position: relative;
}

.m-left-wrapper{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.m-intro{
    font-size: 30px;
    font-weight: 300;
}

.m-name{
    font-size: 60px;
}

.m-title{
    height: 50px;
    overflow: hidden;
}

.m-title-item{
    height: 50px;
    font-size: 30px;
    font-weight: bold;
    color: #688eff;
    display: flex;
    align-items: center;
}

.m-title-wrapper{
    height: 100%;
    animation: move 10s ease-in-out infinite alternate;
}

.m-contact-btn{
    border: none;
    background-color: #ffffff;
    border: 2px solid #688eff;
    width: 10vw;
    height: 5vh;
    border-radius: 2vh;
}

.m-contact-btn:hover{
    background-color: #688eff;
    color: #ffffff;
    transition: background-color 0.2s ease-in-out;
}

@keyframes move{
    0%{
        transform: translateY(0);
    }
    50%{
        transform: translateY(-50px);
    }
    100%{
        transform: translateY(-100px);
    }
}

.m-img{
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.projects{
    height: 93vh;
}

.skills{
    height: 93vh;
}

.contact{
    height: 93vh;
}